body{
    
    font-family: Arial,sans-serif;
    background: white;
    margin: 0;
}

.hero{
    width: 97%;
    margin: 20px auto;
    background: #162028;
    background-image: url(../imagens/topo.jpg);
    height: 700px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid black;
    
}

.hero img{
    
    background: #162028;
    width: 10%;
    margin-left: 100px;
    height: 40px;
    padding: 40px;
    
   
    
}

.hero nav ul{
    color: #425564;
    text-align: right;
    margin: -70px 30px -70px 30px; 
    letter-spacing: 3px;
}

.hero nav li{
    font-size: 25px;
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    padding: 10px;
    
}

h1{
    
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 40px;
}

p{
    line-height: normal;
    font-family: Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
   
    
}

.content-section{
    background-color: white;
    padding: 100px;
    margin-top: 15px;
    overflow: auto;
}

.model{
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.modelo1, .modelo2{
    
    margin-right: 2%;
}

.model img{
    width: 100%;
    display: block;
}


.model p{
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

.zoeira{
    width: 100%;
    margin: auto;
    background-image: url(../imagens/bg_detalhe.png);
    height: 700px;
    background-position: center;
    background-size: cover;
}

.content-header{
    
    font-family: Arial, sans-serif;
    font-size: 50px;
    text-align: left;
    color: white;
    padding: 0px;  
}

.content-header p{
    
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align:left;
    color: white;
    margin: auto; 
    padding-left: 3px;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-right: 80px;
   
    
      
}

.content-header h3{
    
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: mediumblue;
    text-align: center;
}

.mapa iframe {
    
   width: 100%;
   
}


.rodape{
    
    height: 80px;
	color: #6f8597;
	font-size: 12px;
	text-align: center;
	background: #0b171f;
    padding: 10px;
    margin-top: 20px;
    
}
   
main{
    width: 70%;
    margin: auto;
}


